/*------------------------------------------------------------------------------
	Grid
	Usage:
		- Default breakpoint grids are set at the bottom of this page
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
	Grid mixins
  - These are used to construct the columns and breakpoints
------------------------------------------------------------------------------*/
@mixin calc-columns($index, $class, $type) {
  @if $type == width and $index > 0 {
    .#{$class}#{$index} {
      max-width: percentage(($index / $columns));
      @include flex-basis(percentage(($index / $columns)));
    }
  }
}
@mixin loop-columns($index, $class, $type) {
  @if $index >= 0 {
    @include calc-columns($index, $class, $type);
    // next iteration
    @include loop-columns(($index - 1), $class, $type);
  }
}
@mixin make-grid($class) {
  // Build columns
  @include loop-columns($columns, $class, width);
}

/*------------------------------------------------------------------------------
	Building blocks for grid
------------------------------------------------------------------------------*/
// Container/Row
.row{
  margin-left: auto;
  margin-right: auto;
  @include display(flex);
  @include flex(0 1 auto);
  @include flex-direction(row);
  @include flex-wrap(wrap);
	max-width: $max-width;

  /*----------------------------------------------------------------------------
  	Grid helpers
    - .row-full will fill container and ignore max-width constraint
    - .row-reverse will reverse the order
    - .row-collapse will removing whitespace from columns
    - .row-center will center align all columns in the row
  	- .row-right will right align all columns in the row
  ----------------------------------------------------------------------------*/
  &-full{
    max-width: 100%;
  }

  // Columns
  &-reverse{
    @include flex-direction(row-reverse);
  }
  &-collapse{
    .column, .columns{
      padding-left: 0;
      padding-right: 0;
    }
  }
  // Horizontal
  // &-left{
  //   @include justify-content(start);
  // }
  &-center{
    @include justify-content(center);
    .column, .columns{
      margin: 0 auto;
    }
  }
  &-right{
    @include justify-content(flex-end);
  }
  &-justify{
    @include justify-content(space-between);
  }
  // Verical
  &-top{
    @include align-items(flex-start);
  }
  &-middle{
    @include align-items(center);
  }
  &-bottom{
    @include align-items(flex-end);
  }


  // @TODO: Remove legacy code
  &-center-columns{
    [class*="column"],  [class*="columns"]{
      margin: 0 auto;
    }
  }
  &.full-width{
		max-width: 100%;
	}
	&.collapse > .column, &.collapse > .columns{
		padding-left: 0;
    padding-right: 0;
	}
  // ------------------------
}
  // Columns/Children
  .column, .columns{
    // @include display(flex);
    @include flex(0 0 auto);
    padding: 0 $gutter-size;
  }
  	// Auto width columns
    .column{
      @include flex-grow(1);
      @include flex-basis(0);
      max-width: 100%;
    }
    // Set width columns
  	.columns{
  	  width: 100%;
  	}


/*------------------------------------------------------------------------------
	IE9 grid support
------------------------------------------------------------------------------*/
@if($support-ie9){
  @media screen and (min-width:0) and (min-resolution: .001dpcm) {
    .row{
      display: inline-block;
      width: 100%;
    }
    .columns{
      display: inline-block;
      float: left;
    }
  }
}
/*------------------------------------------------------------------------------
	Generate grids
	- You can easily create more, we've commented out one example
------------------------------------------------------------------------------*/
// Small grid
@include make-grid(small-);

// Medium grid
@media (min-width: $medium-breakpoint) {
  @include make-grid(medium-);
}

// Large grid
@media (min-width: $large-breakpoint) {
  @include make-grid(large-);
}

// Extra Large grid
// @media (min-width: ($large-breakpoint * 1.5)) {
//   @include make-grid(xlarge-);
// }
