/*------------------------------------------------------------------------------
	Mixins
------------------------------------------------------------------------------*/


// User select
// @include(user-select(none));
@mixin user-select($arg) {
  -webkit-touch-callout: $arg;
  -webkit-user-select: $arg;
  -khtml-user-select: $arg;
  -moz-user-select: $arg;
  -ms-user-select: $arg;
  user-select: $arg;
}

// Placeholder styling
// @include placeholder {
// 		color: darken($soft-color, 60%);
// }
@mixin placeholder {

  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}
