/*------------------------------------------------------------------------------
	Kaizen Framework
  - a simple responsive Sass framework.
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
	Dependancies and base framework
------------------------------------------------------------------------------*/
// We love using bourbon, it follows our lightweight and simple approach.
@import 'vendor/bourbon/bourbon';
// load normalize.css CSS reset
@import 'vendor/normalize';
// this is the settings file & contains CSS that needs to load first
@import 'base';
// helpers to simplify development
@import 'helpers';
// load the incredibly easy to use grid
@import 'grid';
// load typography - really powerful yet small typography framework: all the
// power lies in the base settings file
@import 'typography';

/*------------------------------------------------------------------------------
	Kaizen framework optional components
  - uncomment them to enable components
  - they're disabled by default for performance
------------------------------------------------------------------------------*/
// Buttons
@import 'components/buttons';
// Form fields/inputs
// @import 'components/forms';
// Responsive tables
// @import 'components/tables';

/*------------------------------------------------------------------------------
	Your custom app styles
	- We recommend using balanced mix of OOCSS & BEM for your class names, this
		will keep your codebase light, reusable and easy to maintain.
------------------------------------------------------------------------------*/
.button-kaizen{
	border: 0;
	background: url('../img/cover-multi.jpg') no-repeat;
	background-size: cover;
	background-position: center bottom;
	background-attachment: fixed;
}
code{
	background-color: lighten($accent-color, 30%);
	border-radius: 2px;
}
pre{
	background-color: lighten($accent-color, 30%);
	border-radius: 2px;
}

.header{
	background-color: $soft-color;
	padding-top: 0;

	> .collapse{
		padding-bottom: $small-space;
	}
	&-title{
		font-weight: 100;
		font-size: 20vw;
		letter-spacing: 0.16em;
		margin-bottom: 0;
		color: $soft-color;
		background: url('../img/cover-multi.jpg') no-repeat;
		background-size: cover;
		background-position: center bottom;
		background-attachment: fixed;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&-subtitle{
		letter-spacing: 0.3em;
		text-transform: uppercase;
	}
	.meaning{
		padding: 0 10px;
	}
}
	.tech{
		background-color: darken($soft-color, 2%);
		padding: $small-space / 2;

		&-item{
			font-weight: 400;
			padding: 0 5px;
			font-size: rem(14);
		}
	}
.description{
	background-color: lighten($soft-color, 8%);

	p{
		margin-bottom: 1em;
	}
	code{
		display: block;
		padding: 5px;
		margin-bottom: 1em;
	}
}
.method{
	background-color: lighten($soft-color, 9.5%);

	p{
		margin-bottom: 1em;
	}
}

/*------------------------------------------------------------------------------
	Docs page
------------------------------------------------------------------------------*/
.doc{
	&-nav{
		background-color: $soft-color;
		color: $secondary-color;
		letter-spacing: 0.3px;
		overflow-x: hidden;
		overflow-y: scroll;
		height: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;

		&-header{
			margin: 0;
			padding-top: $gutter-size;
			padding-bottom: $gutter-size;
			text-transform: uppercase;
			color: $soft-color;
			background: url('../img/cover-multi.jpg') no-repeat;
			background-size: cover;
			background-position: center bottom;
			background-attachment: fixed;
			// -webkit-background-clip: text;
			// -webkit-text-fill-color: transparent;
		}
		&-item{
			display: inline-block;
			width: 100%;
			border-bottom: 1px solid darken($soft-color, 5%);
			padding: ($small-space/4) ($small-space/3);
			font-size: rem(14);
			color: $primary-color;

			&-heading{
				border-top: 1px solid darken($soft-color, 5%);
				font-size: $body-font-size;
				font-weight: 400;
				text-transform: uppercase;
			}
		}
	}

	&-content{
		height: 100%;
		height: 100vh;
		overflow: scroll;
	}
	&-article{
		padding: $gutter-size;
		border-bottom: 2px solid $soft-color;
	}
}


@media only screen and (min-width: $medium-breakpoint){
	.header{
		padding-top: $medium-space;

		> .collapse{
			padding-bottom: $large-space;
		}
		&-title{
			font-size: 10vw;
		}
	}
		.tech{

			&-item{
				padding: 0 20px;
				font-size: rem(16);
			}
		}
}
@media only screen and (min-width: $large-breakpoint){
	.header{
		&-subtitle{
			letter-spacing: 0.3em;
		}
	}
	.doc{
		&-nav{
			&-header{
				letter-spacing: 0.3em;
			}
			&-item{

				&-heading{
					letter-spacing: 0.3em;
				}
			}
		}
	}
}
