/*------------------------------------------------------------------------------
	Kaizen Framework
  - a simple responsive Sass framework.
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
	Dependancies and base framework
------------------------------------------------------------------------------*/
// We love using bourbon, it follows our lightweight and simple approach.
@import 'vendor/bourbon/bourbon';
// load normalize.css CSS reset
@import 'vendor/normalize';
// this is the settings file & contains CSS that needs to load first
@import 'base';
// helpers to simplify development
@import 'helpers';
// load the incredibly easy to use grid
@import 'grid';
// load typography - really powerful yet small typography framework: all the power lies in the base settings file
@import 'typography';

/*------------------------------------------------------------------------------
	Kaizen framework optional components
  - uncomment them to enable components
  - they're disabled by default for performance
------------------------------------------------------------------------------*/
// Buttons
@import 'components/buttons';
// Form fields/inputs
@import 'components/forms';
// Responsive tables
@import 'components/tables';


/*------------------------------------------------------------------------------
	Your custom app styles
	- We recommend using balanced mix of OOCSS & BEM for your class names, this
		will keep your codebase light, reusable and easy to maintain.
------------------------------------------------------------------------------*/
