/*------------------------------------------------------------------------------
	Wixel Framework
  - a simple responsive framework.
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
	Dependancies and base framework
------------------------------------------------------------------------------*/
// We love using bourbon, it follows our lightweight and simple approach.
@import 'vendor/bourbon/bourbon';
// load normalize.css - place in vendor directory and rename to _normalize.scss
@import 'vendor/normalize';
// this is the settings file & contains css that needs to load first
@import 'base';
// helpers to simplify development
@import 'helpers';
// load the incredibly easy to use grid
@import 'grid';
// load typography - really powerful yet small typography framework: all the power lies in the settings file
@import 'typography';

/*------------------------------------------------------------------------------
	Wixel framework optional components
  - uncomment them to enable components
  - they're disabled by default for performance
------------------------------------------------------------------------------*/
// Buttons
@import 'components/buttons';
// Form fields/inputs
// @import 'components/forms';

/*------------------------------------------------------------------------------
	Custom styles
------------------------------------------------------------------------------*/
code{
	background-color: lighten($accent-color, 30%);
	border-radius: 2px;
}

.header{
	background-color: $soft-color;

	&-title{
		font-weight: 100;
		font-size: 10vw;
		letter-spacing: 0.16em;
		margin-bottom: 0;

		background: url('../img/cover-multi.jpg') no-repeat;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		text-fill-color: transparent;
	}
	&-subtitle{
		letter-spacing: 0.43em;
		text-transform: uppercase;
	}
}
	.tech{
		background-color: darken($soft-color, 2%);
		padding: $small-space / 2;

		&-item{
			font-weight: 400;
			padding: 0 20px;
		}
	}
.description{
	background-color: lighten($soft-color, 8%);

	p{
		margin-bottom: 1em;
	}
	code{
		display: block;
		padding: 5px;
		margin-bottom: 1em;
	}
}
.method{
	background-color: lighten($soft-color, 9.5%);

	p{
		margin-bottom: 1em;
	}
}
