/*------------------------------------------------------------------------------
	Form input fields
------------------------------------------------------------------------------*/
// Default style
input, select, textarea{
	width: 100%;
	padding: ($small-space/ 3);
	border-radius: 3px;
	border: 1px solid darken($soft-color, 5%);
	margin-bottom: 1rem;
	background-color: $secondary-color;
	height: 50px;
	color: lighten($primary-color, 5%);

	// Interaction
	&:focus{
		outline: none;
		border-color: $accent-color;
	}

	@include placeholder {
		color: darken($soft-color, 60%);
	}
}
	// Removes deafult styles
	input:not([type=checkbox]):not([type=radio]){
		-webkit-appearance: none;
	}
	// Checkboxes and radio buttons
	input[type="checkbox"], input[type="radio"]{
		width: auto;
		height: auto;
	}
	// File upload
	input[type="file"]{
		height: auto;
	}
	::-webkit-file-upload-button{
		display: inline-block;
		background-color: $primary-color;
		border: 1px solid $primary-color;
		color: $secondary-color;
		text-transform: uppercase;
		letter-spacing: 0.3px;
		@include user-select(none);
		@include transition(background-color 0.15s ease-in-out);
		padding: ($small-space/ 6) ($small-space/ 3);
		font-size: 60%;
		font-weight: bolder;
		vertical-align: bottom;
		outline: none;

		&:hover{
			background-color: lighten($primary-color, 10%);
			border-color: lighten($primary-color, 9%);
			color: $secondary-color;
			cursor: pointer;
		}
	}
	// Textarea
	textarea{
    min-height: $medium-space;
  }
	// Labels
	label{
		vertical-align: middle;
	}
